
{%extends 'layout.html'%}
{%block title%}
ChapterEdit
{%endblock%}
{%block content%}
<div>
    <h1>New Chapters</h1>
    <h3>Edit {{chapobj.name}} Here!!</h3>
</div>
<div class="f_container">
    <form action="" method="POST">
        <div class="mb-3">
        <label for="name" class="form-label">Name</label>
        <input type="text" class="form-control" id="name" name="Name" value="{{chapobj.name}}">
        </div>
        <div class="mb-3">
            <label for="n_of_ques" class="form-label">No.of_Question</label>
            <input type="number" class="form-control" id="n_of_ques" name="n_of_ques" value="{{chapobj.no_of_questions}}">
        </div>

        <div class="mb-3">
            <label for="desc" class="form-label">Description</label>
            <input type="text" class="form-control" id="desc" name="Description" value="{{chapobj.description}}">
        </div>
        <div class="mb-3">
            <label for="s_id" class="form-label">SubjectID</label>
            <input type="number" class="form-control" id="s_id" name="s_id" value="{{chapobj.sub_id}}" required>
        </div>
        <div>
            <button type="submit" class="btn btn-primary">Update</button>
            
        </div>
    </form>
</div>
{%endblock%}