{%extends 'layout.html'%}
{%block title%}
Questadd
{%endblock%}
{%block content%}
<div>
    <h1>New Chapters</h1>
    <h3>Add Your Favourite Chapter Here!!</h3>
</div>
<div class="f_container">
    <form action="/quest_add" method="POST">
        <div class="mb-3">
        <label for="q_id" class="form-label">Q_ID</label>
        <input type="number" class="form-control" id="q_id" name="q_id">
        </div>
        <div class="mb-3">
            <label for="ques" class="form-label">Question</label>
            <input type="text" class="form-control" id="ques" name="ques">
        </div>

        <div class="mb-3">
            <label for="answer">Choose the correct answer?</label>
            <select name="answer" id="answer">
                <option value="Hyper Text Markup Language">Hyper Text Markup Language</option>
                <option value="Hyper Text Makeup Language">Hyper Text Makeup Language</option>
                <option value="Hyper Tech Markup Language">Hyper Tech Markup Language</option>
                <option value="Hiperr Text Markup Language">Hiperr Text Markup Language</option>
            </select>
        </div>
            <button type="submit" class="btn btn-primary">Save</button>
            <a href="{{url_for('questad')}}"><h5>Cancel?!</h5></a>
        </div>
    </form>
</div>
{%endblock%}