html,body{
    margin:0;
    padding:0;
    overflow-x: hidden;
    
}
.body_design{
    min-height:100vh;/* 100% of the viewport height */
    width:100vw;
    padding:0;
    margin:0;
    background-color: lightpink;
    display: flex;
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
    flex-direction: column;
}
.i_container{
    border:2px solid pink;
    background-color:lightpink;
    width:80%;
    height:80vh;
    display: flex; 
    justify-content: center; /*Center content horizontally */
    align-items: center; /*Center content vertically */
    flex-direction: column;
}

h1{
    color:brown;
    margin-bottom:0.4em;
}
a{
    text-decoration:none;
    color:black;
}
.f_container{
    height:auto;
    width:auto;
    padding:30px 100px 50px 100px;
    background-color:gray;
    border-radius:8px;
    margin-bottom:20px;
}
h3{
    text-align:center;
}
.for_nav{
    position:fixed;
    top:0;
    width:100vw;
    padding-right:3em;
    margin-bottom:50px;
}
.random{
    margin-top:5em;
}