{%extends 'layout.html'%}
{%block title%}
Admindashboard
{%endblock%}
{%block navbar%}
<nav class="navbar navbar-expand-lg bg-body-tertiary container-fluid for_nav">
    <div class="container-fluid ">
      <a class="navbar-brand" href="#">Admin Dashboard</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('quize')}}">Quiz</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Summary</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Logout</a>
          </li>
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>
{%endblock%}
{%block content%}
<a href="{{url_for('sub_add')}}"class="btn btn-success">Add Subject <i class="fa-solid fa-plus"></i></a>
<div class="table_arrang">
{%for subject in subjects%}
<table class="table table-bordered border-primary table-hover caption-top w-50">
      <caption><h1>{{subject.name}}</h1></caption>
      <thead>
        <tr>
          <th>Chapter Name</th>
          <th>No.of Questions</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
{% if subject.chapters %}
  {%for chapter in subject.chapters%}
              <tr>
                <td>{{chapter.name}}</td>
                <td>{{chapter.no_of_questions}}</td>
                <td><a href="{{url_for('chap_edit',id=chapter.id)}}" class="btn btn-outline-success">Edit<i class="fa-solid fa-plus"></i></a>
                  <a href="{{url_for('chap_delete',id=chapter.id)}}" class="btn btn-outline-success">Delete<i class="fa-solid fa-plus"></i></a>
                </td>
              </tr>
  {%endfor%}
{%endif%}
      </tbody>
      <tfoot><tr><td colspan="3" class="text-end"><a href="{{url_for('chap_add')}}" class="btn btn-success">Add Chap <i class="fa-solid fa-plus"></i></a>
      </td></tr></tfoot>      
    </table>
{%endfor%}
</div>
{%endblock%}
