{%extends 'layout.html'%}
{%block title%}
Login
{%endblock%}
{%block content%}
<h1>Welcome to Quiz Master!!</h1>
<h3>Login Page</h3>
<div class="f_container bg-secondary bg-opacity-50">
    <form action="/login" method="POST">
        <div class="mb-3">
        <label for="Email" class="form-label">Email address</label>
        <input type="email" class="form-control" id="Email" aria-describedby="emailHelp" name="Email" >
        </div>
        <div class="mb-3">
        <label for="Password" class="form-label">Password</label>
        <input type="password" class="form-control" id="Password" name="Password" >
        </div>
        <div>
            <button type="submit" class="btn btn-success">Login</button>
            <a href="{{url_for('register')}}"><h4>Create a new user?!</h4></a>
        </div>
    </form>
</div>
{%endblock%}