{%extends 'layout.html'%}
{%block title%}
Userdashboard
{%endblock%}
{%block content%}
    <div class="f_container bg-secondary bg-opacity-50">
                <div>
                    <h1><i class="fa-solid fa-user"></i></h1>
                </div>
                <p><strong>Name:</strong> {{ user.fullname }}</p>
                <p><strong>Email:</strong> {{ user.uemail }}</p>
                 <a href="{{url_for('logout')}}" class="btn btn-outline-danger d-inline-block">LOGOUT?<i class="fa-solid fa-trash"></i></a>
                 <a href="{{url_for('cancel')}}" class="btn btn-primary d-inline-block">CANCEL!!</i></a>
            
            </div>
        </div>
    </div>
{%endblock%}
