{%extends 'layout.html'%}
{%block title%}
Userdashboard
{%endblock%}
{%block navbar%}
<nav class="navbar navbar-expand-lg bg-body-tertiary container-fluid for_nav">
    <div class="container-fluid ">
      <a class="navbar-brand" href="{{url_for('userd')}}">UserDashboard</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{{url_for('userd')}}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('stu_scores')}}">Scores</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Summary</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Logout</a>
          </li>
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>
{%endblock%}
{%block content%}
<div class="i_container u_container">
  <table class="table table-bordered table-hover caption-top  align-middle" style="width:65%;">
    <caption class="text-center"><h1>Upcoming Quizes</h1></caption>
    <thead>
      <tr class=" table-active">
        <th>ID</th>
        <th>No.of Question</th>
        <th>Date</th>
        <th>Duration</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      {%for quiz in quizess%}
      <tr>
        <td>{{quiz.id}}</td>
        <td>Need to assign to the Quiz table</td>
        <td>{{quiz.date_of_quiz}}</td>
        <td>{{quiz.time_duration}}</td>
        <td>
          <a href="{{url_for('stu_quiz_show')}}" class="btn btn-outline-success">View</a>
          <a href="#" class="btn btn-outline-success">Start</a>
        </td>
      </tr>
      {%endfor%}
    </tbody>
  </table>
</div>

{%endblock%}
