{%extends 'layout.html'%}
{%block title%}
Userdashboard
{%endblock%}
{%block navbar%}
<nav class="navbar navbar-expand-lg bg-body-tertiary container-fluid for_nav">
    <div class="container-fluid ">
      <a class="navbar-brand" href="{{ url_for('userd') }}">Welcome {{ user.fullname }}</a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{{url_for('userd')}}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('stu_scores')}}">Scores</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('user_summary')}}">Summary</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('profile')}}">Logout</a>
          </li>
        </ul>
        <form action="" class="d-flex" role="search" method="GET">
          <select class="form-select me-2" name="search_type" id="search_type" required>
              <option value="">-- Select --</option>
              <option value="qchap" {% if search_type == 'qchap' %}selected{% endif %}>Chapter</option>
              <option value="score_value" {% if search_type == 'score_value' %}selected{% endif %}>Score</option>
          </select>
          <input class="form-control me-2" name="query" type="search" placeholder="Search" aria-label="Search" >
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
</nav>
{%endblock%}
{%block content%}
<div class="i_container u_container">
  <table class="table table-bordered table-hover caption-top  align-middle w-100">
    <caption class="text-center"><h1>Your Score</h1></caption>
    <thead>
      <tr class=" table-info">
        <th>QUIZ_ID</th>
        <th>Quiz_Sub_Name</th>
        <th>Quiz_Ch_Name</th>
        <th>No.of Question</th>
        <th>Score</th>
      </tr>
    </thead>
    <tbody>
      {%for quiz,score in score_show%}
          <tr>
            <td>{{quiz.id}}</td>
            <td>{{quiz.chapter.subject.name}}</td>
            <td>{{quiz.chapter.name}}</td>
            <td>{{quiz.questions|length}}</td>
            <td>{{score.score}}</td>
          </tr>
      {%endfor%}
    </tbody>
  </table>
</div>
{%endblock%}
