{%extends 'layout.html'%}
{%block title%}
QuizAdd
{%endblock%}
{%block content%}
    <h1>Quiz {{ quizobj.id }} Detail</h1>
    <div class="f_container bg-secondary bg-opacity-50">
        <ul class="list-group ">
            <li class="list-group-item d-flex">
                    <h3><b><u>Quiz ID</u></b> : {{quizobj.id}}</h3>
            </li>
            <li class="list-group-item d-flex ">
                    <h3><b><u>Subject Name</u></b> : {{quizobj.chapter.subject.name}}</h3>
            </li>
            <li class="list-group-item d-flex">
                <h3><b><u>Chapter Name</u></b> : {{quizobj.chapter.name}}</h3>
            </li>
            <li class="list-group-item d-flex">
                <h3><b><u>No. of Question</u></b> : {{quizobj.questions|length}}</h3>
            </li>

      </ul>
    </div>
{%endblock%}